/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
      /* header start */

      header {
    padding: 0px 0;
    }

    .c_logo{
        width: 170px;
    }
    .menu ul li a {
    padding: 0 10px !important;
    margin-bottom: 8px;
    }


       /* bannar starrt */
.bannar{
    padding: 10px 0 60px;
}
.b_text {
    margin-top: 20px;
    text-align: center;
}
.b_h1 {
    margin: 0 0 0;
    font-size: 18px;
   
}
.p_black {
    padding: 0px 0px;
}
.b_button {
    margin-top: 0px;
    
}

    .bn_img {
    padding: 0 0px;
    }


 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
       /* header start */
    .menu ul li a {
    padding: 0 10px !important;
    margin-bottom: 10px;
    }

       /* bannar starrt */
.bannar{
    padding: 10px 0 60px;
}
.b_text {
    margin-top: 45px;
    text-align: center;
}
.b_h1 {
    margin: 0 0 0;
    font-size: 30px;
   
}
.p_black {
    padding: 0px 20px;
}
.b_button {
    margin-top: 0px;
    
}

    .bn_img {
    padding: 0 100px;
    }


 }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* header start */
    header{
        padding: 0 0;
    }
    .menu ul li a {
    padding: 0 10px !important;
    margin-bottom: 10px;
    }

    /* bannar starrt */
.bannar{
    padding: 10px 0 60px;
}
.b_text {
    margin-top: 45px;
    text-align: center;
}
.b_h1 {
    margin: 0 0 0;
    font-size: 40px;
   
}
.p_black {
    padding: 0px 20px;
}
.b_button {
    margin-top: 0px;
    
}

    .bn_img {
    padding: 0 100px;
    }
	   
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
         /* bannar start */
         .b_h1 {
    font-size: 44px;
   }


 }

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) { 
   /* banar start */
    .b_h1 {
    font-size: 54px;
    }      
 }

/* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) { 
        
 }